html,
body {
  margin: 0;
  padding: 0;
}
main {
  background-image: url(image/bj.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  position: fixed;
}
section {
  height: 400px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  margin-top: 100px;
}
.logo {
  position: relative;
  top: 40px;
  left: -30px;
}
.logo p {
  font-size: 40px;
  color: gray;
  text-align: center;
}
form {
  width: 400px;
  height: 200px;
  margin: auto;
  position: relative;
  top: 50px;
}
label {
  color: gray;
  font-size: 20px;
}
input {
  height: 40px;
  border: 1px solid darkgrey;
  border-radius: 8px;
  box-shadow: 3px 3px gainsboro;
  box-sizing: border-box;
  font-family: helvetica;
  color: gray;
  font-size: 20px;
}
button {
  background-color: steelblue;
  color: white;
  width: 300px;
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: none;
  position: relative;
  left: 30px;
}
#password {
  width: 250px;
  position: relative;
  left: 50px;
  font-size: 14px;
}
#passwordagain{
  width: 250px;
  position: relative;
  left:10px;
  font-size: 14px;
}
input:focus {
  box-shadow: 0 0 4px darkseagreen;
}



