html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-image: url(/images/bj.jpg);
}
header {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
  display: inline-block;
  top: 0;
  z-index: 111;
}
a,
p {
  text-decoration: none;
  margin: 10px;
}
a {
  color: black;
}
.nav {
  background-color: aliceblue;
  width: 100%;
  height: 40px;
}
.nav > span {
  color: steelblue;
  position: relative;
}
.nav div {
  display: inline-block;
}
.nav div ul {
  list-style: none;
}
.nav span,
a {
  position: relative;
  top: -5px;
}
.nav span {
  left: 50px;
}
.nav a {
  text-decoration: none;
  left: 850px;
  margin: 10px;
  padding-left: 10px;
  color: steelblue;
  cursor: pointer;
}
.nav a:hover {
  padding: 5px 5px;
  border-radius: 6px;
  background-color: steelblue;
  color: white;
}
main {
  background-color: rgba(240, 248, 255, 0.8);
  width: 1000px;
  height: 750px;
  margin: 70px auto;
}
.png {
  width: 100px;
  height: 100px;
  position: relative;
  left: 0;
}
.png img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
  left: 80px;
}
.border div {
  display: inline-block;
}
.title {
  position: relative;
  top: -40px;
  left: 80px;
}
.title ul li {
  list-style: none;
}
.title ul li a {
  padding-left: 10px;
}
.title ul li a:hover {
  padding: 5px 5px;
  border-radius: 6px;
  background-color: steelblue;
  color: white;
}
.sousuo {
  position: relative;
  top: -40px;
  left: 250px;
}
.sousuo input {
  border: 1px solid seagreen;
  border-radius: 10px;
  width: 200px;
  height: 30px;
}
.sousuo img {
  position: relative;
  top: 10px;
  left: 10px;
}
.guanli {
  width: 200px;
  margin: 20px;
  position: relative;
  top: 30px;
}
.guanli div {
  padding-bottom: 20px;
}
.guanli div ul li img {
  position: relative;
  top: 10px;
}
.guanli div span {
  font-size: 20px;
}
.guanli div ul {
  margin: 0;
  padding-left: 30px;
  list-style: none;
}
.wodezuopin ul {
  line-height: 30px;
}
.kaishi {
  display: flex;
  justify-content: space-between;
}
.kaishi > div {
  display: inline-block;
  margin: 0;
  padding: 0;
}
iframe{
  width: 800px;
  height: 600px;
	border: 0 none;
	margin-top: 20px;
}


















