
html,
body {
  margin: 0;
  padding: 0;
}
html {
  background-image: url(/images/5.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
}
button{
	float: right;
}
span{
	font-size: 25px;
	color: #2c8c79;
	padding: 20px;
}
div{
	font-size: 20px;
	padding: 20px;
}
a{
	text-decoration: none;
	color: palevioletred;
}
section{
	position: relative;
	top: 100px;
	left: 50px;
}
