<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>重置密码</title>
		<link rel="stylesheet" type="text/css" href="/css/chognzhi.css" />
		<script src="/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="logo"><p>重置密码</p></div>
		<form id="reset-form" action="/Login/reset_pwd" method="POST">
			<input type="hidden" name="userId" value="{{uid}}">
			<label for="password">密码: </label>
			<input id="password" type="password" name="password" id="password" style="padding-left: 20px;" placeholder="请输入密码"/>
			<br /><br />
			<label for="passwordagain">确认密码: </label>
			<input id="passwordagain" type="password" name="rePassword" id="password" style="padding-left: 20px;" placeholder="请再次输入密码"/>
			<br /><br />
			<button type="submit">完成</button>
		</form>
	</body>

	<script>
		$('button[type="submit"]').click(function(e){
			e.preventDefault();
			if($('#password').val() != $('#passwordagain').val()){
				alert('两次输入的密码不一致，请重新输入!');
				return;
			}else{
				$('#reset-form').submit();
			}
		});
	</script>
</html>
